# Jinja2 template for snmpd.conf (snmpd/snmpd.conf.j2)

agentAddress udp:161

rocommunity public

sysLocation    {{ snmp_syslocation | default('MyLocation') }}
sysContact     {{ snmp_syscontact  | default('root@localhost') }}

com2sec readonly  default         public
group MyROGroup v2c         readonly
view all    included  .1                               80
access MyROGroup ""      any       noauth    exact  all    none   none

